# PostgreSQL. Versions 9.3 and up are supported.
#
# Install the pg driver:
#   gem install pg
# On macOS with Homebrew:
#   gem install pg -- --with-pg-config=/usr/local/bin/pg_config
# On macOS with MacPorts:
#   gem install pg -- --with-pg-config=/opt/local/lib/postgresql84/bin/pg_config
# On Windows:
#   gem install pg
#       Choose the win32 build.
#       Install PostgreSQL and put its /bin directory on your path.
#
# Configure Using Gemfile
# gem 'pg'
#
default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see Rails configuration guide
  # https://guides.rubyonrails.org/configuring.html#database-pooling
  pool:     <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host:     <%= ENV.fetch("DATABASE_HOST")     { 'localhost' } %>
  username: <%= ENV.fetch("DATABASE_USER")     { 'postgres' } %>
  password: <%= ENV.fetch("DATABASE_PASSWORD") { 'postgres' } %>

development:
  <<: *default
  database: <%= ENV.fetch("DATABASE_DEVELOPMENT") { 'data_development' } %>

test:
  <<: *default
  database: <%= ENV.fetch("DATABASE_TEST") { 'data_test' } %>

production:
  <<: *default
  database: <%= ENV.fetch("DATABASE_PRODUCTION") { 'data_production' } %>
