<div
  class="image-file image-file-<%= image.id %>"
  style="background-image: url(<%= url_for(image.data) %>)"
>
  <input type="hidden" name="prize_images[]" value="<%= image.id %>">
  <div class="edit-image-file">
    <button type="button" class="icon-delete" data-action="click->images#remove" data-id="<%= image.id %>"></button>
  </div>
</div>